<!-- wp:template-part {"slug":"header","theme":"block-template"} /-->

<!-- wp:pattern {"slug":"block-template/frontbanner"} /-->
<!-- wp:pattern {"slug":"block-template/frontabout"} /-->
<!-- wp:pattern {"slug":"block-template/frontideas"} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator -->

<!-- wp:pattern {"slug":"block-template/frontgallery"} /-->
  
<!-- wp:template-part {"slug":"footer","theme":"block-template"} /-->