<!-- wp:template-part {"slug":"header","theme":"block-template"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"175px","bottom":"75px"}},"dimensions":{"minHeight":"450px"}},"layout":{"type":"constrained","contentSize":"1100px","wideSize":"960px"}} -->
<div class="wp-block-group" style="min-height:450px;margin-top:175px;margin-bottom:75px"><!-- wp:post-title {"style":{"color":{"text":"#304f65"},"elements":{"link":{"color":{"text":"#304f65"}}},"typography":{"fontSize":"24px"},"spacing":{"margin":{"right":"0"},"padding":{"right":"0","bottom":"var:preset|spacing|60"}}}} /-->

  <!-- wp:post-content {"style":{"dimensions":{"minHeight":"0px"},"typography":{"fontSize":"16px"}}} /--></div>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"block-template"} /-->