<!-- wp:template-part {"slug":"header","theme":"block-template"} /-->

<!-- wp:post-featured-image /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"dimensions":{"minHeight":"450px"}},"layout":{"type":"constrained","contentSize":"1100px","wideSize":"960px"}} -->
<div class="wp-block-group" style="min-height:450px;margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-title {"textAlign":"center","style":{"color":{"text":"#304f65"},"elements":{"link":{"color":{"text":"#304f65"}}},"typography":{"fontSize":"48px"},"spacing":{"margin":{"right":"0"},"padding":{"right":"0","bottom":"var:preset|spacing|40"}}}} /-->

  <!-- wp:post-content {"style":{"dimensions":{"minHeight":"0px"},"typography":{"fontSize":"24px"}}} /--></div>
  <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"block-template"} /-->